@import "mixins/variables";
@import "mixins/base";
@import "mixins/buttons";

$colors: (
    color1:#DC3522,
    color2:#D9CB9E,
    color3:#374140
);

.sampleBox1 {
  background-color: map-get($colors, color1);
}

.sampleBox2 {
  background-color: map-get($colors, color2);
}

.sampleBox3 {
  background-color: map-get($colors, color3);
}

#movieFrame {
  position: relative;

  .playButton {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

#movieFrame.playing {
  .playButton {
    display: none;
  }
}
