@import "mixins/variables";
@import "mixins/base";

$colors: (
  color1:rgb(242, 118, 161),
  color2:rgb(21, 116, 241),
  color3:rgb(27, 141, 245)
);

.sampleBox1 {
  background-color: map-get($colors, color1);
}

.sampleBox2 {
  background-color: map-get($colors, color2);
}

.sampleBox3 {
  background-color: map-get($colors, color3);
}

#playerSection {
  padding-left: 0;
  padding-right: 0;
  position: relative;
  pointer-events: none;
}

#playerWrapper {
  position: absolute;
  left: 0;
}
